streamlit>=1.45
pandas
biopython
tqdm
requests
matplotlib
upsetplot
wikidata-dl
Pillow
networkx
psycopg2-binary
formula_validation
git+https://github.com/Wang-Bioinformatics-Lab/GNPSDataPackage.git
dash_extensions
--extra-index-url https://pypi.anaconda.org/rdkit/simple
rdkit-pypi
